@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

%tag {
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  margin-right: 5px;
}

.tag {
  &Bug {
    @extend %tag;
    background-color: $bug;
  }
  &Dark {
    @extend %tag;
    color: white;
    background-color: $dark;
  }
  &Dragon {
    @extend %tag;
    color: white;
    background-color: $dragon;
  }
  &Electric {
    @extend %tag;
    background-color: $electric;
  }
  &Fairy {
    @extend %tag;
    background-color: $fairy;
  }
  &Flying {
    @extend %tag;
    background-color: $flying;
  }
  &Fighting {
    @extend %tag;
    background-color: $fighting;
  }
  &Fire {
    @extend %tag;
    background-color: $fire;
  }
  &Ghost {
    @extend %tag;
    color: white;
    background-color: $ghost;
  }
  &Grass {
    @extend %tag;
    background-color: $grass;
  }
  &Ground {
    @extend %tag;
    background-color: $ground;
  }
  &Ice {
    @extend %tag;
    background-color: $ice;
  }
  &Normal {
    @extend %tag;
    background-color: $normal;
  }
  &Poison {
    @extend %tag;
    color: white;
    background-color: $poison;
  }
  &Psychic {
    @extend %tag;
    background-color: $psychic;
  }
  &Rock {
    @extend %tag;
    background-color: $rock;
  }
  &Steel {
    @extend %tag;
    background-color: $steel;
  }
  &Water {
    @extend %tag;
    background-color: $water;
  }
}
