@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";
@import "./../../styles/placeholders.scss";

.details {
  &Label {
    font-size: 16px;
    color: $grey;
  }

  &List {
    padding: 0 10px;
    border-left: 1px solid;
    margin-top: 10px;

    &Item {
      font-size: 14px;
      font-family: "Rubik", sans-serif;
      margin-bottom: 10px;
    }
  }

  &Title {
    @extend %aside-subtitle;
  }
}
