@import "./../../styles/variables.scss";
@import "./../../styles/fonts";

%topbarButton {
  height: 50px;
  background-image: url(./pokeball.png);
  background-color: $red;
  background: $red url("./pokeball.png") no-repeat scroll 8px center;
  background-size: 35px;
  color: white;
  border: 0;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 45px;
  transition: 0.25s all linear;
}

.topbarButton {
  @extend %topbarButton;
  opacity: 1;
  &Hidden {
    @extend %topbarButton;
    opacity: 0.25;
  }
}
