@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";
@import "./../../styles/placeholders.scss";

.attackPicker {
  &Title {
    @extend %aside-subtitle;
  }

  &Container {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
  }

  &SubContainer {
    width: 50%;
  }

  &Label {
    @extend %input-label;
  }

  &Input {
    &Wrapper {
      padding: 6px;
    }
  }
}
