@import "./../../styles/variables.scss";

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  padding: 10px;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
