@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

%battle {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  left: 0;
  align-items: center;
  padding: 80px 0 0;
  background-image: linear-gradient(
    46deg,
    #ffffff 33.33%,
    #f5f5f5 33.33%,
    #f5f5f5 50%,
    #ffffff 50%,
    #ffffff 83.33%,
    #f5f5f5 83.33%,
    #f5f5f5 100%
  );
  background-size: 20.85px 21.59px;
  transition: 0.4s transform ease-in;
}

.battle {
  &Open {
    @extend %battle;
    transform: translateY(0);
  }

  &Close {
    @extend %battle;
    transform: translateY(101vh);
  }

  &Arena {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 15px 15px 250px;
  }

  &ComputerZone {
    transform: scale(0.8);
  }

  &UserZone {
    display: block;
  }
}
