@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

%aside {
  padding: 100px 20px 60px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
  transition: transform 0.25s linear;
  overflow-y: scroll;
}

.aside {
  &Open {
    @extend %aside;
    transform: translateX(0);
  }

  &Close {
    @extend %aside;
    transform: translateX(101vw);
  }

  &Img {
    width: 50%;

    &Container {
      padding: 30px;
      text-align: center;
      box-shadow: -1px 7px 14px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &Title {
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
}
