//Colors - type
$bug: #a7b920;
$dark: #6f5848;
$dragon: #7039f8;
$electric: #f9d031;
$fairy: #fdaec9;
$fighting: #c53024;
$fire: #ee8031;
$flying: #a790f2;
$ghost: #6f5897;
$grass: #77c84d;
$ground: #e0c06a;
$ice: #98d8d8;
$normal: #a9a878;
$poison: #9f419f;
$psychic: #f65787;
$rock: #b7a22b;
$steel: #b8b8d1;
$water: #6691f0;

//Color - theme
$blue: #3a4cca;
$red: #fe0000;
$redLight: #cc0001;
$yellow: #ffde00;
$yellowDark: #b3a125;
$white: #ffffff;
$grey: #969296;
$greyLight: #c9c3c9;
