@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

%loading {
  width: 100vw;
  height: 100vh;
  background: url(loading.gif) no-repeat center center #fff;
  background-size: 200px auto;
  transition: 0.25s all linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px 0;
  overflow-y: scroll;
  height: calc(100vh - 200px);

  &Title {
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    font-family: "Rubik", sans-serif;
    color: $grey;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(100, 100, 100, 0.3) 100%
    );
  }

  &Loading {
    @extend %loading;
    transform: translateX(0);

    &Hidden {
      @extend %loading;
      transform: translateX(100%);
      opacity: 0;
    }
  }
}
