@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

%card {
  padding: 10px 10px 30px 10px;
  width: 160px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  box-shadow: -5px -5px 6px 0px rgba(0, 0, 0, 0.2);
  border: 0;
  background: white;
  border-radius: 6px;
}
.card {
  @extend %card;

  &Selected {
    @extend %card;
    border: 4px solid $blue;
  }

  &Img {
    width: 100%;
    margin-bottom: 20px;
  }

  &Title {
    color: $grey;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    width: 100%;
  }
}
