@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

%finalBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 20px;
  background-image: linear-gradient(
    46deg,
    $red 33.33%,
    $redLight 33.33%,
    $redLight 50%,
    $red 50%,
    $red 83.33%,
    $redLight 83.33%,
    $redLight 100%
  );
  background-size: 20.85px 21.59px;
  transition: 0.4s transform ease-in;

  &:before {
    content: "";
    display: block;
    background: url(./sasha-pika.png) no-repeat right bottom;
    background-size: 100%;
    position: absolute;
    right: -42px;
    width: 60%;
    height: 100%;
    z-index: 2;
  }
}

.finalBoard {
  &Open {
    @extend %finalBoard;
    transform: translateY(0);
  }

  &Close {
    @extend %finalBoard;
    transform: translateY(-101vh);
  }

  &Wrapper {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    box-shadow: -1px 7px 14px 0px rgba(0, 0, 0, 0.2);
  }

  &Desc {
    color: $grey;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
  }

  &Title {
    color: $red;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 30px;
  }

  &Result {
    color: $grey;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
  }

  &Img {
    width: 40%;
    margin-bottom: 20px;
  }

  &Attack {
    color: $red;
  }

  &Pokemon {
    color: $red;
  }
}
