@import "./../../styles/variables.scss";

.battleMenu {
  display: flex;
  height: 25vh;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    #969296 25%,
    #c9c3c9 25%,
    #c9c3c9 50%,
    #969296 50%,
    #969296 75%,
    #c9c3c9 75%,
    #c9c3c9 100%
  );
  background-size: 14.14px 14.14px;
  position: absolute;
  z-index: 1;
  bottom: 50px;
  height: 175px;

  &ListItem {
    padding: 4px;
  }
  &Container {
    width: 50%;
    padding: 20px;
  }
  &Button {
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    padding: 10px 30px;
    background-color: $blue;
    color: white;
    width: 100%;
    border: 0;
    border-radius: 4px;
  }
}
