@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

.search {
  border: 1px solid $grey;
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding: 20px 20px 20px 45px;
  font-family: "Rubik", sans-serif;
  border: 5px solid;
  background: url("./search.png") no-repeat scroll 5px center;
  background-size: 30px;

  &:focus {
    outline: none;
  }
}
