@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

.thumbnails {
  display: flex;
  flex-flow: wrap;
}

.thumbnail {
  &ListItem {
    padding: 10px;
  }
  &Btn {
    background: none;
    width: 60px;
    height: 70px;
    padding: 5px;
    border: 0;
    box-shadow: -1px 7px 14px 0px rgba(0, 0, 0, 0.2);
  }
  &Img {
    width: 100%;
  }
}
