@import "./../../styles/variables.scss";

.buttonClose {
  &Container {
    position: relative;
  }
  position: absolute;
  width: 40px;
  height: 40px;
  top: -10px;
  right: -10px;
  background-image: url("./CloseButton.png");
  background-size: 100%;
  background-color: transparent;
  border: 0;
}
