@import "./../../styles/variables.scss";
@import "./../../styles/fonts.scss";

%actionBar {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $greyLight;
  display: flex;
  justify-content: space-between;
  transition: 0.25s all linear;
  z-index: 3;
}
.actionBar {
  @extend %actionBar;
  transform: translateY(0);
  &Hidden {
    @extend %actionBar;
    transform: translateY(100px);
  }
  &Button {
    padding: 10px 30px;
  }
}
